:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Retro Gaming', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --toastBarHeight: 0
}

a {
  font-weight: 500;
  color: #001aff;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin-top: 1.5em;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #000000;
  color: rgb(0, 255, 0);
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  color: rgb(0, 255, 0);
  border-color: rgb(0, 255, 0);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
  color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
